# Thư mục chứa các module cài đặt
/node_modules

# File cấu hình biến môi trường cục bộ (rất quan trọng cho bảo mật)
.env
.env.local

# Files log và cache
npm-debug.log*
yarn-debug.log*
/coverage

# Thư mục build hoặc dist cục bộ (thường do framework tạo ra)
/dist
/build